@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: #F3F3F3;
}

/*--------------------- Inicio Header ---------------------*/
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo-navbar{
    padding: 0 0 0 7rem;
    width: 140px;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
    margin-left: auto;
    padding-right: 8rem;
}

.navbar-links ul {
    display: flex;
    gap: 2rem;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    color: #000000;
    font-family: 'Bubblegum Sans';
    font-weight: 500;
    font-size: 1.5rem;
    text-underline-offset: 7px;
    letter-spacing: 1px;
}

.navbar-links li:hover {
    transform: scale(1.1);
}

.toggle-button {
    position: absolute;
    top: 3rem;
    right: 3rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(22, 22, 22);
    border-radius: 10px;
}

header .section-headear {
    margin-left: 7rem;
    top: 8rem;
    position: absolute;
    padding: 1.09vw;
    z-index: 1;
}

header .section-headear h1 {
    font-size: 4.7rem;
    letter-spacing: 1px;
    font-family: 'Bubblegum Sans';
    color: #000000;
}

.br-title-header{
    display: none;
}

header .section-headear .subtitle-1 {
    font-size: 2.3rem;
    color: #000000;
    width: 36rem;
    margin-top: 1vw;
    font-weight: 500;
    font-family: 'Bubblegum Sans';
}

header .section-headear .subtitle-2 {
    font-size: 1.2rem;
    color: #000000;
    width: 25rem;
    margin-top: 10px;
    font-weight: 300;
    font-family: 'Bubblegum Sans';
}

header .section-headear .btn-section-headear{
    width: 25rem;
    height: 3.5rem;
    margin-top: 2.5rem;
    border-radius: 12px;
    border: none;
    background: #368D43;
    color: #ffffff;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 500;
    font-family: Roboto;
    -webkit-box-shadow: 2px 2px 12px -3px rgba(0,0,0,0.85); 
    box-shadow: 2px 2px 12px -3px rgba(0,0,0,0.85);
}

header .section-headear .btn-section-headear img{
    margin-left: 5px;
}

header .section-headear .btn-section-headear:hover{
    transform: scale(1.04);
}

header .header-banner-img{
    position: absolute;
    right: 0;
    top: 0;
    width: 1650px;
}

header .header-banner-decore{
    position: absolute;
    width: 450px;
    top: 0;
}
/*--------------------- Fim Header ---------------------*/

/*--------------------- Inicio Main ---------------------*/
main{
    margin-top: 55rem;
}

/*--------------------- container-p1 ---------------------*/
main .container-p1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .container-p1 .br-title{
    display: none;
}

main .container-p1 h1{
    font-size: 2rem;
    font-family: 'Bubblegum Sans';
    color: #2D2D2D;
    text-align: center;
}

main .container-p1 iframe{
    border-radius: 20px;
    width: 900px;
    height: 500px;
    margin-top: 1.5rem;
}

/*--------------------- container-p2 ---------------------*/
main .container-p2{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    background: #ffffff;
    height: 45rem;
}

main .container-p2 .img-container-p2{
    position: absolute;
    width: 80rem;
}

main .container-p2 .owl-carousel{
    padding: 20px;
    width: 90%;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
}

main .container-p2 .owl-carousel .swiper-slide{
    background: #7a7a7a20;
    backdrop-filter: blur(10px);
    padding: 1rem;
    height: 20rem;
    text-align: center;
    border-radius: 20px;    
    border: #6d6d6d1c solid 1px;
}

main .container-p2 .owl-carousel .swiper-slide h1{
    font-size: 1.5rem;
    font-family: Roboto;
    color: #2D2D2D;
}

main .container-p2 .owl-carousel .swiper-slide img{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

main .container-p2 .owl-carousel p{
    font-size: 1.1rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Poppins;
    font-weight: 500;
    color: #2D2D2D;
}

/*--------------------- container-p2 ---------------------*/
main .container-p3{
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
}

main .container-p3 .title{
    font-size: 2rem;
    font-family: Roboto;
    color: #2D2D2D;
    text-align: center;
}

main .container-p3 .subtitle-1 {
    font-size: 1.5rem;
    color: #000000;
    width: 80rem;
    margin-top: 1vw;
    font-weight: 400;
    font-family: Poppins;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

main .container-p3 .img-container-p3-passaro {
    position: absolute;
    width: 20rem;
    left: 0;
    z-index: -1;
    margin-top: -9rem;
    transform: rotate(12deg);
}

main .container-p3 .img-container-p3 {
    position: absolute;
    width: 75rem;
    right: 0;
    z-index: -1;
}

main .container-p3 .owl-carousel{
    padding: 2rem;
    width: 45%;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    background: #7a7a7a20;
    border-radius: 50px;
    -webkit-box-shadow: 4px 4px 20px 2px rgba(0,0,0,0.22); 
    box-shadow: 4px 4px 20px 2px rgba(0,0,0,0.22);
}

main .container-p3 .owl-carousel .swiper-slide h1{
    font-size: 1.5rem;
    font-family: Roboto;
    color: #2D2D2D;
    text-align: center;
    margin-bottom: 1.5rem;
}

main .container-p3 .owl-carousel p{
    font-size: 1.1rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Poppins;
    font-weight: 500;
    color: #2D2D2D;
    width: 50%;
}

main .container-p3 .owl-carousel img{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

main .container-p3 .btn-section-headear{
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
    height: 3.5rem;
    margin-top: 5rem;
    border-radius: 12px;
    border: none;
    background: #368D43;
    color: #ffffff;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 500;
    font-family: Roboto;
    -webkit-box-shadow: 2px 2px 12px -3px rgba(0,0,0,0.85); 
    box-shadow: 2px 2px 12px -3px rgba(0,0,0,0.85);
}

/*--------------------- container-p4 ---------------------*/
main .container-p4{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    background: #ffffff;
    height: 82rem;
    padding: 5rem 0;
}

main .container-p4 iframe{
    border-radius: 20px;
    width: 900px;
    height: 500px;
    margin-top: 2rem;
    z-index: 1;
    margin-bottom: 5rem;
}

main .container-p4 h1{
    font-size: 2rem;
    font-family: Roboto;
    color: #2D2D2D;
    text-align: center;
    z-index: 1;
}

main .container-p4 .img-container-p4 {
    position: absolute;
    width: 60rem;
    left: 0;
    margin-top: 500px;
}

main .container-p4 .owl-carousel{
    padding: 2rem;
    width: 45%;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    background: #7a7a7a20;
    border-radius: 50px;
    -webkit-box-shadow: 4px 4px 20px 2px rgba(0,0,0,0.22); 
    box-shadow: 4px 4px 20px 2px rgba(0,0,0,0.22);
}

main .container-p4 .owl-carousel img{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

/*--------------------- container-p5 ---------------------*/
main .container-p5{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    padding: 5rem 0;
}

main .container-p5 .img-container-p5 {
    position: absolute;
    width: 65rem;
    right: 0;
}

main .container-p5 h1{
    font-size: 2rem;
    font-family: Roboto;
    color: #2D2D2D;
    text-align: center;
    z-index: 1;
    width: 60rem;
    margin-bottom: 4rem;
}

main .container-p5 iframe{
    border-radius: 20px;
    width: 900px;
    height: 500px;
    margin-top: 2rem;
    z-index: 1;
}

/*--------------------- container-p6 ---------------------*/
main .container-p6{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    padding-bottom: 7rem;
}

main .container-p6 .img-mascotes{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 29vw;
    margin-top: 23rem;
}

main .container-p6 .img-mascotes .mascote-1{
    width: 300px;
}

main .container-p6 .img-mascotes .mascote-2{
    width: 350px;
}

main .container-p6 .img-mascotes .mascote-3{
    width: 350px;
}

main .container-p6 .img-mascotes .mascote-4{
    width: 350px;
}

main .container-p6 .img-mascotes .img{
    display: flex;
    gap: 0vw;
}

main .container-p6 h1{
    margin-top: 7rem;
    font-size: 2.5rem;
    font-family: 'Bubblegum Sans';
    color: #2D2D2D;
    letter-spacing: 1px;
    text-align: center;
}

main .container-p6 .card-price{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    background-image: linear-gradient(131.1deg, #0086e5ff 0%, #0cff 100%);
    border-radius: 30px;
    width: 500px;
    height: 600px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

main .container-p6 .card-price h2{
    font-size: 2rem;
    font-family: 'Bubblegum Sans';
    color: #ffffff;
    text-align: center;
    margin-top: 4rem;
    letter-spacing: 2px;
}

main .container-p6 .card-price p{
    text-align: center;
    color: #ffffff;
    font-size: 4rem;
    font-family: 'Bubblegum Sans';
    line-height: 2.1rem;
    letter-spacing: 2px;
}

main .container-p6 .card-price p span{
    font-size: 1.4rem;
}

main .container-p6 .card-price .description{
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

main .container-p6 .card-price .description p{
    text-align: start;
    display: flex;
    align-items: center;
    gap: 10px;
}

main .container-p6 .card-price .description img{
    width: 20px;
}

main .container-p6 .data-oferta{
    text-align: center;
    font-size: 1rem;
    font-family: 'Bubblegum Sans';
    margin-top: 2rem;
}

main .container-p6 .btn-section-headear{
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
    height: 3.5rem;
    margin-top: 2rem;
    border-radius: 12px;
    border: none;
    background: #368D43;
    color: #ffffff;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 500;
    font-family: Roboto;
    -webkit-box-shadow: 2px 2px 12px -3px rgba(0,0,0,0.85); 
    box-shadow: 2px 2px 12px -3px rgba(0,0,0,0.85);
}

main .container-p6 .btn-section-headear img{
    margin-left: 5px;
}

/*--------------------- container-p7 ---------------------*/
main .container-p7{
    display: flex;
    flex-direction: column;
}

main .container-p7 .img-container-p7{
    position: absolute;
    width: 80rem;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
}

main .container-p7 h1{
    margin-top: 8rem;
    font-size: 2.5rem;
    font-family: 'Bubblegum Sans';
    color: #2D2D2D;
    letter-spacing: 1px;
    text-align: center;
    z-index: 1;
}

main .container-p7 .owl-carousel{
    width: 75%;
    margin-top: 7rem;
    margin-left: auto;
    margin-right: auto;
}

main .container-p7 .owl-carousel .swiper-slide{
    background: #7a7a7a20;
    backdrop-filter: blur(10px);
    padding: 2rem;
    height: 20rem;
    text-align: center;
    border-radius: 20px;    
    border: #6d6d6d1c solid 1px;
}

main .container-p7 .owl-carousel .swiper-slide h1{
    margin-top: 2rem;
    font-size: 1.5rem;
    font-family: 'Bubblegum Sans';
    color: #2D2D2D;
    text-align: start;
}

main .container-p7 .owl-carousel p{
    font-size: 1.3rem;
    text-align: start;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Bubblegum Sans';
    color: #2D2D2D;
    margin-top: 1.3rem;
    letter-spacing: 1px;
    line-height: 25px;
}

/*--------------------- container-p8 ---------------------*/
main .container-p8{
    display: flex;
    flex-direction: column;
    background: #ffffff;
    margin-top: 10rem;
}

main .container-p8 h1{
    margin-top: 18rem;
    font-size: 2.5rem;
    font-family: 'Bubblegum Sans';
    color: #2D2D2D;
    letter-spacing: 1px;
    text-align: center;
    z-index: 1;
    margin-bottom: 1rem;
}

main .container-p8 p{
    font-size: 1.5rem;
    font-family: 'Bubblegum Sans';
    color: #2D2D2D;
    letter-spacing: 1px;
    text-align: center;
    z-index: 1;
}

main .container-p8 iframe{
    border-radius: 20px;
    width: 900px;
    height: 500px;
    margin-top: 2.5rem;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------- container-p9 ---------------------*/
main .container-p9{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    padding-bottom: 10rem;
}

main .container-p9 h1{
    margin-top: 8rem;
    font-size: 2.5rem;
    font-family: 'Bubblegum Sans';
    color: #2D2D2D;
    letter-spacing: 1px;
    text-align: center;
    z-index: 1;
    margin-bottom: 1rem;
}

.wrapper {
    width: 60%;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .container {
    background-color: white;
    color: black;
    border-radius: 20px;
    box-shadow: 0 5px 10px 0 rgb(0,0,0,0.25);
    margin: 20px 0;
  }
  
  .question {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 20px 80px 20px 20px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    letter-spacing: 1px;
    font-family: 'Bubblegum Sans';
  }
  
  .question::after {
    content: "\002B";
    font-size: 2.2rem;
    position: absolute;
    right: 20px;
    transition: 0.2s;
  }
  
  .question.active::after {
    transform: rotate(45deg);
  }
  
  .answercont {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;

  }
  
  .answer {
    padding: 0 20px 20px;
    line-height: 25px;
    letter-spacing: 1px;
    font-family: 'Bubblegum Sans';
    font-size: 1.3rem;
  }

  main .container-p9 .answer ul{
    padding: 0 20px 20px;
  }

main .container-p9 .answer li{
    margin-bottom: 7px;
}

/*--------------------- Responsividade ---------------------*/
@media screen and (max-width: 2262px) {
    main .container-p4{
        margin-top: 4.5rem;
    }
}

@media screen and (max-width: 1900px) {

    main .container-p6 .img-mascotes{
        gap: 33vw;
        margin-top: 26rem;
    }

    main .container-p6 .img-mascotes .mascote-1{
        width: 250px;
    }
    
    main .container-p6 .img-mascotes .mascote-2{
        width: 300px;
    }
    
    main .container-p6 .img-mascotes .mascote-3{
        width: 300px;
    }
    
    main .container-p6 .img-mascotes .mascote-4{
        width: 300px;
    }

    main .container-p6 .img-mascotes .img{
        display: flex;
        gap: 0vw;
    }
}

@media screen and (max-width: 1850px) {
    .br-title-header{
        display: block;
    }

    header .header-banner-img{
        width: 1550px;
    }

    main .container-p4{
        margin-top: 6.2rem;
    }

    /*--------------------- container-p3 ---------------------*/
    main .container-p3 .owl-carousel{
        width: 65%;
    }

    main .container-p3 .img-container-p3-passaro {
        width: 15rem;
        margin-top: -9rem;
    }

    /*--------------------- container-p4 ---------------------*/
    main .container-p4 .owl-carousel{
        width: 65%;
    }
}

@media screen and (max-width: 1760px) {
    /*--------------------- container-p6 ---------------------*/
    main .container-p6 .img-mascotes{
        margin-top: 30rem;
        gap: 37rem;
    }

    main .container-p6 .img-mascotes .mascote-1{
        width: 200px;
    }
    
    main .container-p6 .img-mascotes .mascote-2{
        width: 250px;
    }
    
    main .container-p6 .img-mascotes .mascote-3{
        width: 250px;
    }
    
    main .container-p6 .img-mascotes .mascote-4{
        width: 250px;
    }

    main .container-p6 .img-mascotes .img{
        gap: 1vw;
    }

    /*--------------------- container-p7 ---------------------*/
    main .container-p7 .owl-carousel {
        margin-top: 5rem;
    }
}

@media screen and (max-width: 1600px) {
/*--------------------- Header ---------------------*/
    .navbar-links {
        padding-right: 4rem;
    }

    .navbar-links ul {
        gap: 1rem;
    }

    .navbar-links li a {
        display: block;
        color: #000000;
        font-weight: 500;
        font-size: 1.3rem;
        text-underline-offset: 7px;
    }

    .logo-navbar{
        padding: 0 0 0 3rem;
    }

    header .section-headear {
        margin-left: 4rem;
    }
    

    header .section-headear h1 {
        font-size: 4rem;
    }

    header .section-headear .subtitle-1 {
        font-size: 1.4rem;
        width: 25rem;
    }
    
    header .section-headear .subtitle-2 {
        font-size: 1rem;
        width: 20rem;
    }

    header .header-banner-img{
        width: 1200px;
    }

    header .header-banner-decore{
        position: absolute;
        width: 300px;
        top: 0;
    }

    /*--------------------- Inicio Main ---------------------*/
    main{
        margin-top: 45rem;
    }

    /*--------------------- container-p2 ---------------------*/
    main .container-p2 .owl-carousel .swiper-slide img{
        width: 80px;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    main .container-p2 .owl-carousel p{
        font-size: 1rem;
    }

    /*--------------------- container-p3 ---------------------*/
    main .container-p3 .subtitle-1 {
        font-size: 1.2rem;
        width: 80%;
    }

    main .container-p3 .img-container-p3-passaro {
        width: 12rem;
        margin-top: -5rem;
    }

    main .container-p3 .owl-carousel{
        margin-top: 4rem;
    }

    main .container-p3 .owl-carousel p{
        width: 50rem;
        font-size: 1rem;
    }

    /*--------------------- container-p4 ---------------------*/
    main .container-p4{
        margin-top: 9.5rem;
    }

    /*--------------------- container-p6 ---------------------*/
    main .container-p6 .img-mascotes{
        margin-top: 34rem;
        gap: 37rem;
    }

    main .container-p6 .img-mascotes .mascote-1{
        width: 150px;
    }
    
    main .container-p6 .img-mascotes .mascote-2{
        width: 200px;
    }
    
    main .container-p6 .img-mascotes .mascote-3{
        width: 200px;
    }
    
    main .container-p6 .img-mascotes .mascote-4{
        width: 200px;
    }

    main .container-p6 .img-mascotes .img{
        gap: 1.7rem;
    }

    /*--------------------- container-p7 ---------------------*/
    main .container-p7 .owl-carousel p{
        font-size: 1.2rem;
        margin-top: 1.2rem;
    }
}

@media screen and (max-width: 1400px) {
    /*--------------------- container-p6 ---------------------*/
    main .container-p6 .img-mascotes{
        gap: 32rem;
    }

    main .container-p6 .card-price{
        width: 400px;
        height: 600px;
    }

    main .container-p6 .img-mascotes .img{
        display: flex;
        gap: 1vw;
    }
}

@media screen and (max-width: 1300px) {
    /*--------------------- Header ---------------------*/
    header .section-headear h1 {
        font-size: 3.5rem;
    }

    header .section-headear .subtitle-1 {
        font-size: 1.3rem;
        width: 25rem;
    }

    header .header-banner-img{
        width: 1200px;
    }

    /*--------------------- Inicio Main ---------------------*/
    main{
        margin-top: 40rem;
    }

    /*--------------------- Container-p2 ---------------------*/
    main .container-p2{
        display: flex;
        justify-content: center;
        margin-top: 5rem;
        background: #ffffff;
        height: 58vw;
    }

    main .container-p2 .owl-carousel{
        width: 95%;
        margin-top: 8vw;
    }
    
    main .container-p2 .img-container-p2{
        width: 100vw;
    }

    main .container-p2 .owl-carousel .swiper-slide{
        height: 25rem;
    }

    /*--------------------- container-p3 ---------------------*/
    main .container-p3 .img-container-p3 {
        width: 70rem;
    }

    main .container-p3 .img-container-p3-passaro {
        display: none;
    }

    main .container-p3 .owl-carousel{
        width: 80%;
    }

    /*--------------------- container-p4 ---------------------*/
    main .container-p4{
        margin-top: 4.7rem;
    }

    main .container-p4 .img-container-p4 {
        width: 86.154vw;
    }

    main .container-p4 .owl-carousel{
        width: 80%;
    }

    /*--------------------- container-p5 ---------------------*/
    main .container-p5{
        margin-top: 11rem;
    }

    main .container-p5 h1{
        margin-bottom: 3rem;
    }
    
    main .container-p5 .img-container-p5 {
        width: 86.154vw;
    }

    /*--------------------- container-p6 ---------------------*/
    main .container-p6{
        margin-top: 5vw;
    }

    main .container-p6 h1{
        font-size: 2rem;
    }

    main .container-p6 .img-mascotes{
        margin-top: 29rem;
        gap: 26rem;
    }

    main .container-p6 .img-mascotes .mascote-1{
        width: 100px;
    }
    
    main .container-p6 .img-mascotes .mascote-2{
        width: 140px;
    }
    
    main .container-p6 .img-mascotes .mascote-3{
        width: 140px;
    }
    
    main .container-p6 .img-mascotes .mascote-4{
        width: 140px;
    }

    main .container-p6 h1{
        margin-top: 5rem;
    }

    main .container-p6 .card-price{
        width: 350px;
        height: 500px;
    }

    main .container-p6 .card-price h2{
        font-size: 1.5rem;
        margin-top: 3rem;
    }
    
    main .container-p6 .card-price p{
        text-align: center;
        color: #ffffff;
        font-size: 3rem;
        font-family: 'Bubblegum Sans';
        line-height: 1rem;
        letter-spacing: 1px;
    }

    main .container-p6 .card-price .description{
        margin-left: auto;
        margin-right: auto;
        width: 270px;
    }

    main .container-p6 .card-price .description span{
        line-height: 2.1rem;
        font-size: 1.1rem;
    }

    /*--------------------- container-p7 ---------------------*/
    main .container-p7 h1{
        font-size: 2rem;
    }

    main .container-p7 .img-container-p7{
        width: 100vw;
    }

    main .container-p7 .owl-carousel .swiper-slide{
        height: 20rem;
    }

    main .container-p7 .owl-carousel{
        width: 95%;
        margin-top: 3rem;
    }

    /*--------------------- container-p8 ---------------------*/
    main .container-p8{
        margin-top: 15vw;
    }

    main .container-p8 h1{
        font-size: 2rem;
        margin-top: 22vw;
    }

    main .container-p8 p{
        font-size: 1.2rem;
    }

    /*--------------------- container-p9 ---------------------*/
    main .container-p9 h1{
        margin-top: 8rem;
        font-size: 2rem;
    }
    
}

@media screen and (max-width: 1250px){
    /*--------------------- container-p4 ---------------------*/
    main .container-p4 .img-container-p4 {
        position: absolute;
        width: 60rem;
        left: 0;
        margin-top: 500px;
    }

    /*--------------------- container-p5 ---------------------*/
    main .container-p5{
        margin-top: 2rem;
    }
}

@media screen and (max-width: 1200px){
    /*--------------------- container-p6 ---------------------*/
    main .container-p6{
        margin-top: 1vw;
    }
}

@media screen and (max-width: 1150px){
    main .container-p8 h1{
        margin-top: 16vw;
    }
}

@media screen and (max-width: 1000px) {
    /*--------------------- Header ---------------------*/
    header .header-banner-img{
        display: none;
    }

    header .header-banner-decore{
        position: absolute;
        width: 250px;
        top: 0;
    }

    /*--------------------- Main ---------------------*/
    main{
        margin-top: 35rem;
    }

    main .container-p1 h1{
        font-size: 1.5rem;
    }

    main .container-p1 iframe{
        border-radius: 20px;
        width: 700px;
        height: 400px;
        margin-top: 0.5rem;
    }

    /*--------------------- Container-p2 ---------------------*/
    main .container-p2 .owl-carousel{
        margin-top: 5vw;
    }

    main .container-p2 .owl-carousel .swiper-slide{
        height: 21rem;
    }

    /*--------------------- Container-p3 ---------------------*/
    main .container-p3 .img-container-p3 {
        width: 66rem;
    }

    main .container-p3 .title{
        font-size: 1.5rem;
    }

    main .container-p3 .owl-carousel p{
        width: 90%;
    }

    main .container-p3 .owl-carousel img{
        width: 600px;
    }

    main .container-p3 .btn-section-headear{
        margin-top: 4rem;
    }

    /*--------------------- Container-p4 ---------------------*/
    main .container-p4{
        margin-top: 7.6rem;
        /*height: 43rem;*/
        height: 70rem;
        padding: 2rem 0;
    }

    main .container-p4 h1{
        font-size: 1.5rem;
    }

    main .container-p4 .img-container-p4 {
        width: 47rem;
    }

    main .container-p4 .owl-carousel{
        margin-top: 3rem;
    }

    main .container-p4 .owl-carousel img{
        width: 600px;
    }

    main .container-p4 iframe{
        border-radius: 20px;
        width: 700px;
        height: 400px;
        margin-top: 2rem;
    }

    /*--------------------- Container-p5 ---------------------*/
    main .container-p5 iframe{
        width: 700px;
        height: 400px;
        margin-top: 2rem;
    }

    main .container-p5 h1{
        font-size: 1.5rem;
        width: 90%;
    }

    main .container-p5 .img-container-p5 {
        width: 55rem;
    }

    /*--------------------- container-p6 ---------------------*/
    main .container-p6{
        margin-top: 5rem;
    }

    main .container-p6 h1{
        font-size: 1.7rem;
    }

    main .container-p6 .img-mascotes{
        display: none;
    }

    /*--------------------- container-p7 ---------------------*/
    main .container-p7 h1{
        margin-top: 5rem;
        font-size: 1.7rem;
    }

    main .container-p7 .img-container-p7{
        width: 100vw;
    }

    main .container-p7 .owl-carousel .swiper-slide{
        height: 20rem;
    }

    main .container-p7 .owl-carousel{
        width: 95%;
        margin-top: 2rem;
    }

    /*--------------------- container-p8 ---------------------*/
    main .container-p8{
        margin-top: 5vw;
    }

    main .container-p8 h1{
        font-size: 1.7rem;
        margin-bottom: 0.7rem;
        margin-top: 20vw;
    }

    main .container-p8 p{
        font-size: 1rem;
    }

    main .container-p8 iframe{
        border-radius: 10px;
        width: 500px;
        height: 300px;
        margin-top: 2rem;
    }

    /*--------------------- container-p9 ---------------------*/
    main .container-p9 h1{
        margin-top: 7rem;
        font-size: 1.7rem;
    }
}

@media (max-width: 800px) {
    /*--------------------- Header ---------------------*/
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
        color: #ffffff;
    }

    .navbar-links.active {
        display: flex;
    }

    /*--------------------- Container-p2 ---------------------*/
    main .container-p2 .owl-carousel{
        margin-top: 3vw;
    }

    /*--------------------- Container-p4 ---------------------*/
    main .container-p4{
        margin-top: 4.5rem;
    }
}

@media screen and (max-width: 760px) {
    /*--------------------- Header ---------------------*/
    .logo-navbar{
        padding: 0 0 0 1rem;
    }

    header .section-headear {
        margin-left: 2rem;
    }

    header .section-headear h1 {
        font-size: 3rem;
        color: #000000;
    }

    header .section-headear .subtitle-1 {
        font-size: 1.1rem;
        width: 20rem;
    }
    
    header .section-headear .subtitle-2 {
        font-size: 0.9rem;
        width: 18rem;
    }

    header .section-headear .btn-section-headear{
        width: 20rem;
        height: 3rem;
        font-size: 1rem;
        margin-top: 2rem;
    }

    /*--------------------- Main ---------------------*/
    main{
        margin-top: 29rem;
    }

    main .container-p1 .br-title{
        display: block;
    }

    main .container-p1 iframe{
        border-radius: 20px;
        width: 500px;
        height: 300px;
    }

    /*--------------------- Container-p2 ---------------------*/
    main .container-p2{
        margin-top: 8vw;
    }

    main .container-p2 .owl-carousel{
        margin-top: 1vw;
        width: 80%;
    }

    main .container-p2 .owl-carousel .swiper-slide{
        height: 16rem;
    }

    main .container-p2 .owl-carousel .swiper-slide img{
        width: 70px;
    }

    main .container-p2 .owl-carousel p{
        font-size: 0.9rem;
    }

    /*--------------------- container-p3 ---------------------*/
    main .container-p3{
        margin-top: 6rem;
    }

    main .container-p3 .img-container-p3 {
        width: 60rem;
    }

    main .container-p3 .subtitle-1 {
        font-size: 1rem;
        width: 90%;
    }

    main .container-p3 .owl-carousel img{
        width: 450px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
    }

    main .container-p3 .owl-carousel p{
        width: 95%;
        font-size: 0.9rem;
    }

    main .container-p3 .btn-section-headear{
        margin-top: 3rem;
        z-index: 1;
        width: 20rem;
        height: 3rem;
        font-size: 1rem;
    }

    /*--------------------- container-p4 ---------------------*/
    main .container-p4 {
        margin-top: 8.7rem;
        height: 64rem;
    }

    main .container-p4 .img-container-p4 {
        width: 40rem;
    }

    main .container-p4 .owl-carousel img{
        width: 450px;
    }

    main .container-p4 iframe{
        border-radius: 20px;
        width: 500px;
        height: 300px;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    /*--------------------- container-p5 ---------------------*/
    main .container-p5 .img-container-p5 {
        width: 45rem;
    }

    main .container-p5 h1{
        margin-bottom: 2rem;
    }

    main .container-p5 iframe{
        width: 500px;
        height: 300px;
        margin-top: 2rem;
    }

    /*--------------------- container-p6 ---------------------*/
    main .container-p6 .btn-section-headear{
        z-index: 1;
        width: 20rem;
        height: 3rem;
        font-size: 1rem;
    }

    /*--------------------- container-p7 ---------------------*/
    main .container-p7 h1{
        margin-top: 4rem;
    }

    main .container-p7 .owl-carousel .swiper-slide{
        height: 14rem;
    }

    main .container-p7 .owl-carousel{
        width: 80%;
    }

    /*--------------------- container-p8 ---------------------*/
    main .container-p8{
        margin-top: 3vw;
    }

    main .container-p8 h1{
        font-size: 1.7rem;
        margin-bottom: 0.7rem;
        margin-top: 13vw;
    }

    main .container-p8 p{
        font-size: 1rem;
    }

    /*--------------------- container-p9 ---------------------*/
    main .container-p9 h1{
        margin-top: 5rem;
        font-size: 2.5rem;
    }

    main .container-p9 .wrapper {
        width: 80%;
    }
}

@media screen and (max-width: 660px) {
    /*--------------------- container-p4 ---------------------*/
    main .container-p4 {
        margin-top: 8.7rem;
        height: 60rem;
    }

    main .container-p4 .img-container-p4 {
        width: 35rem;
    }

    /*--------------------- container-p5 ---------------------*/
    main .container-p5{
        padding: 1rem 0;
    }
}

@media screen and (max-width: 560px) {
    /*--------------------- Header ---------------------*/
    .logo-navbar{
        padding: 0 0 0 0rem;
        width: 110px;
    }

    .toggle-button {
        top: 2rem;
        right: 2rem;
        width: 30px;
    }

    header .section-headear {
        margin-left: 1rem;
        top: 7rem;
    }

    header .section-headear .br-title-header-1{
        display: none;
    }

    header .section-headear h1 {
        font-size: 2.2rem;
    }

    header .section-headear .subtitle-1 {
        font-size: 1.1rem;
        width: 21.875rem;
    }
    
    header .section-headear .subtitle-2 {
        font-size: 1rem;
        width: 21.875rem;
    }

    header .header-banner-decore{
        width: 250px;
    }

    /*--------------------- Main ---------------------*/
    main{
        margin-top: 26.5rem;
    }

    main .container-p1 h1{
        font-size: 1.4rem;
    }

    main .container-p1 iframe{
        border-radius: 20px;
        width: 90%;
        height: 300px;
    }

    /*--------------------- Container-p2 ---------------------*/
    main .container-p2{
        height: 29rem;
    }

    main .container-p2 .owl-carousel{
        width: 90%;
    }

    main .container-p2 .img-container-p2{
        display: none;
    }

    main .container-p2 .owl-carousel .swiper-slide{
        height: 19rem;
    }

    main .container-p2 .owl-carousel .swiper-slide h1{
        font-size: 1.4rem;
    }

    /*--------------------- container-p3 ---------------------*/
    main .container-p3{
        margin-top: 2rem;
    }

    main .container-p3 .img-container-p3 {
        display: none;
    }

    main .container-p3 .title{
        font-size: 1.4rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.5rem;
    }

    main .container-p3 .owl-carousel{
        padding: 0.5rem;
        margin-top: 3rem;
        border-radius: 20px;
        width: 90%;
        -webkit-box-shadow: none; 
        box-shadow: none;
    }

    main .container-p3 .owl-carousel .swiper-slide h1{
        font-size: 1.4rem;
        margin-bottom: 1.3rem;
        margin-top: 0.7rem;
    }

    main .container-p3 .owl-carousel img{
        width: 320px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
    }

    /*--------------------- Container-p4 ---------------------*/
    main .container-p4 {
        margin-top: 2rem;
        height: 48rem;
        padding: 3rem 0;
    }

    main .container-p4 h1{
        font-size: 1.4rem;
    }

    main .container-p4 .img-container-p4 {
        display: none;
    }

    main .container-p4 .owl-carousel{
        margin-top: 1rem;
        border-radius: 20px;
        -webkit-box-shadow: none; 
        box-shadow: none;
        padding: 0.5rem;
        width: 90%;
    }

    main .container-p4 .owl-carousel img{
        width: 320px;
    }

    main .container-p4 iframe{
        border-radius: 20px;
        width: 90%;
        height: 300px;
        margin-top: 1rem;
    }

    /*--------------------- Container-p5 ---------------------*/    
    main .container-p5 {
        margin-top: 1rem;
    }

    main .container-p5 iframe{
        width: 90%;
        height: 300px;
        margin-top: 2rem;
    }

    main .container-p5 .img-container-p5 {
        display: none;
    }

    main .container-p5 h1{
        font-size: 1.4rem;
        margin-bottom: 0rem;
    }


    /*--------------------- Container-p6 ---------------------*/
    main .container-p6{
        margin-top: 1rem;
        padding-bottom: 3rem;
    } 

    main .container-p6 h1{
        font-size: 1.5rem;
        margin-top: 2rem;
        width: 90%;
    }

    main .container-p6 .card-price{
        width: 330px;
        height: 470px;
    }

    main .container-p6 .data-oferta{
        font-size: 1rem;
        margin-top: 1.5rem;
        width: 90%;
    }

    main .container-p6 .card-price .description{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    main .container-p6 .btn-section-headear{
        margin-top: 1.2rem;
    }

    /*--------------------- container-p7 ---------------------*/
    main .container-p7 h1{
        margin-top: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.7rem;
        width: 17rem;
    }

    main .container-p7 .img-container-p7{
        display: none;
    }

    main .container-p7 .owl-carousel{
        width: 90%;
    }

    main .container-p7 .owl-carousel .swiper-slide{
        height: 18rem;
        padding: 1rem;
    }

    main .container-p7 .owl-carousel .swiper-slide h1{
        margin-left: 0;
        margin-right: 0;
        font-size: 1.3rem;
    }

    /*--------------------- container-p8 ---------------------*/
    main .container-p8 h1{
        margin-top: 2rem;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        line-height: 29px;
    }

    main .container-p8 p{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    main .container-p8 iframe{
        border-radius: 10px;
        width: 95%;
        height: 300px;
        margin-top: 1.5rem;
    }

    /*--------------------- container-p9 ---------------------*/
    main .container-p9 .wrapper {
        width: 90%;
    }
}

@media screen and (max-width: 400px) {
    /*--------------------- Header ---------------------*/
    .logo-navbar{
        padding: 0 0 0 0rem;
        width: 110px;
    }

    .toggle-button {
        top: 2rem;
        right: 2rem;
        width: 30px;
    }

    header .section-headear {
        margin-left: 1rem;
        top: 6.5rem;
    }

    header .section-headear .subtitle-1 {
        font-size: 1.1rem;
        width: 100%;
    }
    
    header .section-headear .subtitle-2 {
        width: 90%;
    }

    header .section-headear .btn-section-headear{
        width: 17.5rem;
        height: 2.9rem;
        font-size: 0.9rem;
        margin-top: 1.5rem;
    }

    /*--------------------- Main ---------------------*/
    main{
        margin-top: 28rem;
    }

    main .container-p1 h1{
        font-size: 1.3rem;
    }

    /*--------------------- Container-p2 ---------------------*/
    main .container-p2 .owl-carousel .swiper-slide h1{
        font-size: 1.2rem;
    }

    /*--------------------- Container-p3 ---------------------*/
    main .container-p3 .owl-carousel .swiper-slide h1{
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    main .container-p3 .btn-section-headear{
        margin-top: 2.5rem;
        z-index: 1;
        width: 17.5rem;
        height: 2.9rem;
        font-size: 0.9rem;
    }

    /*--------------------- Container-p4 ---------------------*/
    main .container-p4 h1{
        font-size: 1.2rem;
        height: auto;
    }

    /*--------------------- Container-p5 ---------------------*/
    main .container-p5 h1{
        font-size: 1.2rem;
        width: 95%;
    }

    /*--------------------- Container-p6 ---------------------*/
    main .container-p6 .btn-section-headear{
        width: 17.5rem;
        height: 2.9rem;
        font-size: 0.9rem;
    }
}